@model IEnumerable<PetProfileManagementFrontend.Models.Product>

<h2>Product List</h2>
<a asp-action="Create" class="btn btn-primary">Add New Product</a>
@* <a href="@Url.Action("Index","Pet")" class="btn btn-primary mb-3">Pets Directory</a> *@
<a asp-action="Index" asp-controller="Pet" class="btn btn-primary">Pets Directory</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Stock</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
